<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <style>
      html,body,#root {
        margin:0;
        padding:0;
        width:100%;
        height:100%
      }
      .squares{
        background:transparent;
        width:100%;
        height:100%;
        display:flex;
      }
      .squareRec{
        flex:1;
        position:relative;
      }
      .squareFt {

        border: 3px solid red;
        position: absolute;
      }

    </style>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <title>Wallabot</title>
  </head>
  <body>
    <div class="squares">
      <div class="squareRec">
        <div class="squareFt">

        </div>
      </div>
      <div class="squareRec">
        <div class="squareFt">

        </div>
      </div>
    </div>
    <script>
      document.body.style.cursor = 'pointer';
      document.body.onclick = function() {
          window.electron.ipcRenderer.sendMessage('hide-frame')
      };
      const list = document.getElementsByClassName("squareFt")
      const SIZE = 0.1
      for(let c of list){
        c.style.width = parseInt(screen.width*SIZE)+"px"
        c.style.height = parseInt(screen.width*SIZE)+"px"
        c.style.left = parseInt(screen.width*(0.25 - (SIZE*0.5)))+"px"
        c.style.top = parseInt(screen.height*(0.5 - (SIZE*0.5)))+"px"
      }
    </script>

  </body>
</html>
